@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Merriweather&family=Open+Sans:wght@500&family=Roboto:wght@300&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./img/background.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color:#b16536;
}

.home-title {
  font-size: 80px;
  color:#FF914D;
}

.home-logo {
  transform: rotate(-50deg);
}

.title-section {
  color:#FF914D;
  font-weight: 700;
}

.orange-color {
  background-color:#FF914D;
  color:#fff;
}

.mg-home {
  margin:4.5% 0%;
}

.mg-title {
  margin-top: 7%;
}

.mg-about {
  margin: 12% 18%;
}

.mg-benefit {
  margin: 6% 8%;
}

.mg-benefit li {
  font-size: 20px;
  text-align: justify;
}

.mg-carousel {
  margin: 6% 0%;
}

h3 {
  color:#FF914D;
}

h4 {
  color:#FF914D;
  font-weight: 600;  
}

.navbar-light .navbar-nav .nav-link {
  color : #FF914D;
  font-weight: 600;
}

.carousel-inner img {
   margin:auto;
}


.example-section {
   margin: 10% 8%;
}

.lets-cook-section {
   margin: 10% 10%;
   text-align: center;
}

.text-lets-cook {
  margin: 20% 3%;
  font-size: 20px;
}

.btn {
  margin: auto;
  align-items: center;
}

footer {
  padding:10px 0px;
  background-color: #FF914D;
  text-align: center;
  color : #fff;
  font-size: 14px;
  font-weight: 100px;
}

footer p {
  font-size: 15px;
}

footer a{
  color:#fff;
}

footer a:hover {
  text-decoration: none;
  color:#b16536;
  font-weight: bold;
}

footer li {
  list-style-type: none;
  float:left;
  padding:10px;
  text-decoration: none;
}

footer .icon-media {
  padding:10px;
}

@media only screen and (max-width: 600px) {
  .home-title {
    margin-top:20px;
    font-size: 40px;
  }

  .title-section {
    font-weight: 500;
    font-size: 27px;
  }

  .mg-about {
    margin: 4% 10%;
    text-align: justify;
  }

  .mg-benefit {
    margin: 2% 4%;
  }

  .text-lets-cook {
    margin: 10% 1%;
    font-size: 20px;
  }
}
